body {
    background-image: url(../Images/octogon.jpg);
    background-size: cover; 
    
} 

img {
    width: 150px;
    height: 100px;
}

#badGuyList .manager {
    display: inline-block;
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

button {
    width: 180px;
    margin-top: 100px;
}


